@tailwind base;
@tailwind components;
@tailwind utilities;

*::target-text{
  @apply text-nirmaan-header;
}
.menu-accordion {
  border: none !important;
}
.menu-accordion-button{
  display: flex;
}
.menu-accordion-button{
  background-color: white !important;
}
.menu-item-heading{
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  font-weight: 500;
}
.menu-item-heading:hover{
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.menu-item-panel{
  padding-left: 1.5rem;
}
.myfont {
  font-family: 'Outfit', sans-serif;
}
.first-letter-caps:first-letter {
  text-transform: capitalize
}
.mycontent table {
  text-align: center;
  /* width: 700px; */
  border: 1px solid black;
  border-collapse: collapse;
}
.mycontent th {
  border: 1px solid black;
}
.mycontent td {
  border: 1px solid black;
}